/* ==UserStyle==
@name         miotranslator.com custom color picker
@namespace    https://github.com/Irilith/irisproject.github.io
@version      1.0.0
@author       Lilith Iris#7707
==/UserStyle== */

@-moz-document domain("miotranslator.com") {
	
:root {
	--background: #1b1e2f;
	--textcolor: #f2f2f2;
}

body {
    color: var(--textcolor);
    background-color: var(--background);
}
	
}
