/* ==UserStyle==
@name         HoYoLab Dark Theme
@source    https://github.com/Irilith/irisproject.github.io
@version      1.0.1
@author       Lilith Iris#7707
==/UserStyle== */

.html, body {
    background-color: #1b1e2f;
    color: #fff8f8;
}


.header {
    background-color: #1b1e2f;
}
.header__wrp {
    background-color: #1b1e2f;
}
.header__logo .mhy-icon {
    color: #ffffff;
    font-size: 16px;
}
.main-menu .mhy-side-menu__item-wrp:nth-child(3n) {
    border-bottom: 1px solid #00000000;
}

.mhy-autocomplete__result {
    position: absolute;
    overflow: hidden;
    z-index: 100;
    border-radius: 10px;
    background-color: #1b1e2f;
    -webkit-box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%);
}

.mhy-side-menu {
    background-color: #00000045;
}

.mhy-side-section {
    background-color: #00000045;
}

.mhy-follow-button {
    background-color: #1f212d;
}

.mhy-account-title__name {
    color: #8592A3;
}

.mhy-search-bar__input {
    background-color: #0000002b;
    border: 1px solid #f1f4f900;
}
.mhy-container {
    background-color: #1b1e2f;
    border-radius: 16px;
}
.mhy-page-header-mask {
    width: 516px;
    background-color: #1b1e2f;
}
.mhy-article-page-author-header .mhy-page-header-mask {
    background-color: #0000;
}
.mhy-article-page-stats {

    border-top: 1px solid #1b1e2f;

}

.mhy-reply-box__textarea .reply-editor .ql-editor {
    border: 1px solid #0000001c;
    border-top-color: rgba(0, 0, 0, 0.11);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.11);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.11);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.11);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 8px;
    -webkit-transition: .3s border-color;
    -o-transition: .3s border-color;
    transition: .3s border-color;
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    min-height: 60px;
    max-height: 108px;
    padding: 8px;
    background-color: #1b1e2f;
}

.mhy-reply-box__submit.mhy-button-normal.mhy-button--disabled .mhy-button__button {
    background-color: #0000002b;
    color: #8592a3;
}
.mhy-button-normal .mhy-button__button {
    background-color: #0000002b;
    color: #657ef8;
    font-weight: bold;
    padding: 0 16px;
}

.mhy-reply-list {
    background-color: #1b1e2f;
}

.reply-card__container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    overflow: visible;
    border-bottom: 1px solid #0000001c;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.11);
    padding-bottom: 16px;
}

.reply-card__content {
    padding: 8px 0 12px;
    font-size: 0;
    line-height: 22px;
    color: #ffffff;
}


.mhy-follow-button {
    background-color: #1f212d4d;
}
.mhy-page-header-wrp {
    background-color: #1f212d00;
    border-radius: 16px;
}

.mhy-topic-card__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #0069ff;
}

.mhy-page-header--top .mhy-page-header-content {
    border-bottom: 1px solid #0000001c;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.11);
}

.mhy-article-page-reply-list__header {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 16px;
    border-bottom: 1px solid #0000001c;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.11);
}

.mhy-post-new {
    background-color: #0000002b;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 16px;
    margin-bottom: 8px;
}

.mhy-button-header .mhy-button__button {
    background-color: #1f212d4d;
    color: #ffffff;
    border-radius: 8px;
    padding: 0 8px;
}

.mhy-article-card {
    padding: 16px;
    background-color: #0000002b;
    border-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.mhy-article-card+.mhy-article-card {
    border-top: 1px solid #0000001c;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.11);
}

.mhy-article-card__title>span:last-child {
    font-size: 16px;
    font-weight: bold;
    color: #6988b5;
    vertical-align: top;
}
.mhy-search-bar--focused .mhy-search-bar__input {
    background-color: #0000002b;
    border-color: #f1f4f900;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: white;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.mhy-search-bar-placeholder__item {
    line-height: 30px;
    border-radius: 15px;
    padding: 0 8px;
    cursor: pointer;
    background-color: #0000001c;
    margin-right: 8px;
    margin-bottom: 8px;
    color: #8592a3;
}

.mhy-game-record-card__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 20px;
    padding: 14px 10px;
    background-color: #00000026;
    margin-top: 8px;
    border-radius: 8px;
}

.mhy-game-record-card__header {
    border-bottom: 1px solid #0000001c;
}
.mhy-game-record-card__header {
    padding: 9px 0;
    min-height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 16px;
    border-bottom: 1px solid #0000001c;
}

.mhy-float-dialog {
    position: absolute;
    -webkit-box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%);
    background-color: #1b1e2f;
    border-radius: 10px;
    cursor: initial;
}

.header-account-menu__section {
    border-bottom: 1px solid #0000001c;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.mhy-selectmenu {
    position: absolute;
    background-color: #1b1e2f;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mhy-game-record-card__hidden {
    padding: 16px;
    text-align: center;
    border-top: 1px solid #0000001c;
}

html, body {
    background-color: #1b1e2f;
    color: #2f3f56;
}

.mhy-account-info-edit__text {
    line-height: 20px;
    border: 1px solid #0000001c;
    border-radius: 8px;
    padding: 10px;
    cursor: default;
    color: #8592a3;
}

.mhy-select.mhy-select-outlined {
    border: 1px solid #0000001c;
    border-radius: 8px;
}

.mhy-input__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #0000001c;
    border-radius: 8px;
    position: relative;
    height: 100%;
    -webkit-transition: .3s border-color;
    -o-transition: .3s border-color;
    transition: .3s border-color;
}

.mhy-contribution-card {
    padding: 16px;
    background-color: #0000002b;
    border-radius: 16px;
    margin-top: 8px;
}

.mhy-contribution-card__time {
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #1b1e2f;
    border-radius: 5px;
    height: 30px;
    overflow: hidden;
    font-size: 12px;
}

.mhy-tools__game {
    margin: 0 16px;
    border-bottom: 1px solid #0000001c;
}
.contribution-status-container .contribution-status-item {
    background-color: #1b1e2f;
    padding: 10px;
    border-radius: 16px;
}

.mhy-contribution .contribution-article-list .mhy-article-list__body {
    background-color: #1b1e2f;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.mhy-contribution .contribution-article-list-header {
    background-color: #00000014;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.mhy-contribution-post-card {
    padding: 16px 0;
    margin: 0 16px;
    border-top: 1px solid #0000001c;
}

.mhy-contribution .contribution-article-list-header .contribution-article-list-header-content {
    padding: 8px 0;
    margin: 0 16px;
    border-bottom: 1px solid #0000001c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 44px;
}

.mhy-article-list__empty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 100px 0;
    background-color: #00000014;
}
.reply-card__replies {
    padding: 0 12px;
    background-color: #00000014;
    border-radius: 8px;
    margin-top: 12px;
}

.reply-card .reply-card-inner-reply+.reply-card-inner-reply {
    border-top: 1px solid #0000001c;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.11);
}
.mhy-dialog__content {
    position: absolute;
    width: 380px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    background-color: #1b1e2f;
    border-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.mhy-dialog__header.mhy-dialog__header-left {
    padding: 16px;
    line-height: 16px;
    border-bottom: 1px solid #0000001c;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.11);
}

.mhy-account-flow-login {
    background-color: #1b1e2f;
    padding: 20px 25px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    margin-top: 58px;
}

.mhy-account-flow-form-input .input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #0000001c;
    border-top-color: rgba(0, 0, 0, 0.11);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.11);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.11);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.11);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.editor-container #toolbar.ql-toolbar {
    border: none;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 24px;
    position: relative;
    background-color: #00000038;
    border-radius: 8px 8px 0 0;
}

.editor-container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: 1px solid #0000001c;
    border-radius: 8px;
    position: relative;
    min-height: 300px;
    width: 100%;
}

.mhy-new-article__header {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #0000001c;
    margin: 0 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mhy-classification-selector-menu {
    position: absolute;
    top: 40px;
    left: -1px;
    -webkit-box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
    background-color: #1b1e2f;
    width: 588px;
    height: 240px;
    z-index: 200;
    overflow: hidden;
}

.mhy-classification-selector-menu__classification {
    position: absolute;
    top: 0;
    left: 160px;
    right: 0;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    border-left: 1px solid #0000001c;
}
.editor-container .editor-tool-popup {
    position: absolute;
    top: 40px;
    z-index: 110;
    border-radius: 8px;
    background-color: #1b1e2f;
    -webkit-box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
}

.mhy-emoticon__list {
    padding: 0 6px;
    height: 184px;
    padding-bottom: 4px;
    background-color: #00000038;
}

.mhy-emoticon__bottom {
    background-color: #00000038;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
